In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/NYPD_Arrest_Data__Year_to_Date_.csv')

In [6]:
cate_col_info_df = df.select_dtypes(include='object')
for col in cate_col_info_df.columns:
    print(f"\n\nunique values in column {col}:  {df[col].value_counts()}")

unique values in column ARREST_DATE:  ARREST_DATE
05/03/2023    983
06/08/2023    945
06/14/2023    936
05/17/2023    892
05/24/2023    889
             ...
02/12/2023    378
02/19/2023    375
01/15/2023    361
01/22/2023    359
04/09/2023    342
Name: count, Length: 181, dtype: int64


unique values in column PD_DESC:  PD_DESC
ASSAULT 3                         12104
LARCENY,PETIT FROM OPEN AREAS,    12027
ASSAULT 2,1,UNCLASSIFIED           7818
TRAFFIC,UNCLASSIFIED MISDEMEAN     6350
ROBBERY,OPEN AREA UNCLASSIFIED     5333
                                  ...
PERJURY 2,1,ETC                       1
FACILITATION 3,2,1, CRIMINAL          1
CHECK,BAD                             1
NYC UNCLASSIFIED WARRANT              1
PARKR&R,UNCLASSIFIED VIOLATION        1
Name: count, Length: 233, dtype: int64


unique values in column OFNS_DESC:  OFNS_DESC
ASSAULT 3 & RELATED OFFENSES      16619
PETIT LARCENY                     12070
FELONY ASSAULT                    10474
DANGEROUS DRUGS                    7530
MISCELLANEOUS PENAL LAW            7327
                                  ...
PARKING OFFENSES                      3
FELONY SEX CRIMES                     2
DISRUPTION OF A RELIGIOUS SERV        2
UNLAWFUL POSS. WEAP. ON SCHOOL        1
ADMINISTRATIVE CODES                  1
Name: count, Length: 63, dtype: int64


unique values in column LAW_CODE:  LAW_CODE
PL 1552500    12027
PL 1200001    11828
PL 215510B     4476
VTL0511001     3874
PL 1200502     3404
              ...
PL 2603203        1
VTL030600E        1
PL 14010GH        1
PL 14500BH        1
COR0168FFE        1
Name: count, Length: 923, dtype: int64


unique values in column LAW_CAT_CD:  LAW_CAT_CD
M    62259
F    48396
V      624
9      318
I      128
Name: count, dtype: int64


unique values in column ARREST_BORO:  ARREST_BORO
K    31104
B    26757
M    25902
Q    23922
S     4886
Name: count, dtype: int64


unique values in column AGE_GROUP:  AGE_GROUP
25-44    64823
45-64    22058
18-24    19682
<18       4242
65+       1766
Name: count, dtype: int64


unique values in column PERP_SEX:  PERP_SEX
M    90596
F    18975
U     3000
Name: count, dtype: int64


unique values in column PERP_RACE:  PERP_RACE
BLACK                             54083
WHITE HISPANIC                    28536
WHITE                             10970
BLACK HISPANIC                    10612
ASIAN / PACIFIC ISLANDER           5995
UNKNOWN                            2019
AMERICAN INDIAN/ALASKAN NATIVE      356
Name: count, dtype: int64


unique values in column New Georeferenced Column:  New Georeferenced Column
POINT (-73.881509 40.671404)        769
POINT (-73.924895 40.810391)        693
POINT (-73.98928 40.750423)         690
POINT (-74.077263 40.644996)        684
POINT (-73.847247 40.887325)        624
                                   ...
POINT (-73.982533 40.63562)           1
POINT (-73.77489288 40.70941858)      1
POINT (-73.846828 40.842679)          1
POINT (-73.88232 40.747804)           1
POINT (-73.97493435 40.75009913)      1
Name: count, Length: 26963, dtype: int64