# Final Project

Group members:
- 21127667 - Trương Công Gia Phát
- 21127743 - Trần Thái Toàn

(Last updated: 8/12/2023)

## 1. Collecting data

### What subject is your data about?

The dataset is a breakdown of every arrest effected in NYC by the NYPD during the current year.

### What is the source of your data? Do authors of this data allow you to use like this?

Our group found the data on Kaggle and it is licensed by the U.S Government Works.

### How did authors collect data?

This data is manually extracted every quarter and reviewed by the Office of Management Analysis and Planning.

## 2. Exploring data

### Importing libraries

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/NYPD_Arrest_Data__Year_to_Date_.csv')

### How many rows and how many columns?

In [3]:
shape = df.shape
print(f"The data has {shape[0]} rows and {shape[1]} columns.")

The data has 112571 rows and 19 columns.

### What is the meaning of each row?

Each record represents an arrest effected in NYC by the NYPD and includes information about the type of crime, the location and time of enforcement.

### Are there duplicated rows?

In [4]:
index = df.index
detectDupSeries = index.duplicated(keep='first')
num_duplicated_rows = detectDupSeries.sum()

if num_duplicated_rows == 0:
    print(f"Data have no duplicated line.!")
else:
    if num_duplicated_rows > 1:
        ext = "lines"
    else:
        ext = "line"
    print(f"Data have {num_duplicated_rows} duplicated " + ext + ". Please de-deduplicate your raw data.!")

Data have no duplicated line.!

### What is the meaning of each column?

- ARREST_KEY : Randomly generated persistent ID for each arrest
- ARREST_DATE: Exact date of arrest for the reported event
- PD_CD: Three digit internal classification code (more granular than Key Code)
- PD_DESC : Description of internal classification corresponding with PD code (more granular than Offense Description)
- KY_CD : Three digit internal classification code (more general category than PD code)
- OFNS_DESC : Description of internal classification corresponding with KY code (more general category than PD description)
- LAW_CODE : Law code charges corresponding to the NYS Penal Law, VTL and other various local laws
- LAW_CAT_CD : Level of offense: felony, misdemeanor, violation
- ARREST_BORO : Borough of arrest. B(Bronx), S(Staten Island), K(Brooklyn), M(Manhattan), Q(Queens)
- ARREST_PRECINCT : Precinct where the arrest occurred
- JURISDICTION_CODE : Jurisdiction responsible for arrest. Jurisdiction codes 0(Patrol), 1(Transit) and 2(Housing) represent NYPD whilst codes 3 and more represent non NYPD jurisdictions
- AGE_GROUP : Perpetrator’s age within a category
- PERP_SEX : Perpetrator’s sex description
- PERP_RACE : Perpetrator’s race description
- X_COORD_CD : Midblock X-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104)
- Y_COORD_CD : Midblock Y-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104)
- Latitude : Latitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326)
- Longitude : Longitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326)

### What is the current data type of each column? Are there columns having inappropriate data types?

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112571 entries, 0 to 112570
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ARREST_KEY                112571 non-null  int64
 1   ARREST_DATE               112571 non-null  object
 2   PD_CD                     112110 non-null  float64
 3   PD_DESC                   112571 non-null  object
 4   KY_CD                     112105 non-null  float64
 5   OFNS_DESC                 112571 non-null  object
 6   LAW_CODE                  112571 non-null  object
 7   LAW_CAT_CD                111725 non-null  object
 8   ARREST_BORO               112571 non-null  object
 9   ARREST_PRECINCT           112571 non-null  int64
 10  JURISDICTION_CODE         112571 non-null  int64
 11  AGE_GROUP                 112571 non-null  object
 12  PERP_SEX                  112571 non-null  object
 13  PERP_RACE                 112571 non-null  object
 14  X_COORD_CD                112571 non-null  int64
 15  Y_COORD_CD                112571 non-null  int64
 16  Latitude                  112571 non-null  float64
 17  Longitude                 112571 non-null  float64
 18  New Georeferenced Column  112571 non-null  object
dtypes: float64(4), int64(5), object(10)
memory usage: 16.3+ MB

The datatype looks good for our group to explore.

### With each numerical column, how are values distributed?

In [6]:
num_col_info_df = df.select_dtypes(exclude='object')
def missing_ratio(s):
    return (s.isna().mean() * 100).round(1)


num_col_info_df = num_col_info_df.agg([missing_ratio, "min", "max"])
num_col_info_df

,ARREST_KEY,PD_CD,KY_CD,ARREST_PRECINCT,JURISDICTION_CODE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
missing_ratio,0.0,0.4,0.4,0.0,0.0,0.0,0.0,0.000000,0.000000
min,261180920.0,12.0,101.0,1.0,0.0,0.0,0.0,0.000000,-74.251844
max,270661337.0,997.0,995.0,123.0,97.0,1066940.0,271819.0,40.912714,0.000000

### With each categorical column, how are values distributed?

In [7]:
cate_col_info_df = df.select_dtypes(include='object')
cate_col_info_df = cate_col_info_df.agg([missing_ratio])
cate_col_info_df

,ARREST_DATE,PD_DESC,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,AGE_GROUP,PERP_SEX,PERP_RACE,New Georeferenced Column
missing_ratio,0.0,0.0,0.0,0.0,0.8,0.0,0.0,0.0,0.0,0.0

In [8]:
for col in cate_col_info_df.columns:
    print(f"3 unique values in column {col}:  {df[col].unique()[0:3]}")

3 unique values in column ARREST_DATE:  ['02/08/2023' '03/24/2023' '03/28/2023']
3 unique values in column PD_DESC:  ['ROBBERY,CAR JACKING' 'RAPE 2' 'RAPE 1']
3 unique values in column OFNS_DESC:  ['ROBBERY' 'RAPE' 'FELONY ASSAULT']
3 unique values in column LAW_CODE:  ['PL 1601003' 'PL 1303001' 'PL 1303501']
3 unique values in column LAW_CAT_CD:  ['F' '9' 'M']
3 unique values in column ARREST_BORO:  ['K' 'S' 'Q']
3 unique values in column AGE_GROUP:  ['25-44' '18-24' '<18']
3 unique values in column PERP_SEX:  ['F' 'M' 'U']
3 unique values in column PERP_RACE:  ['WHITE' 'BLACK' 'WHITE HISPANIC']
3 unique values in column New Georeferenced Column:  ['POINT (-73.979638 40.597407)'
 'POINT (-74.0770327198983 40.6447209438691)'
 'POINT (-73.8740035373971 40.7434812638841)']

The values look normal in categorical column.

## 3. Data Exploration

In [9]:
df.head(10)

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,263238742,02/08/2023,380.0,"ROBBERY,CAR JACKING",105.0,ROBBERY,PL 1601003,F,K,62,0,25-44,F,WHITE,989904,156928,40.597407,-73.979638,POINT (-73.979638 40.597407)
1,265590985,03/24/2023,155.0,RAPE 2,104.0,RAPE,PL 1303001,F,S,120,0,18-24,M,BLACK,962873,174172,40.644721,-74.077033,POINT (-74.0770327198983 40.6447209438691)
2,265798132,03/28/2023,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,S,120,0,25-44,M,BLACK,962873,174172,40.644721,-74.077033,POINT (-74.0770327198983 40.6447209438691)
3,269233687,06/02/2023,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,Q,110,0,25-44,M,WHITE HISPANIC,1019164,210169,40.743481,-73.874004,POINT (-73.8740035373971 40.7434812638841)
4,270519574,06/28/2023,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,84,0,25-44,M,BLACK HISPANIC,988902,192641,40.695439,-73.983225,POINT (-73.9832253756043 40.6954388081238)
5,261548646,01/07/2023,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,M,30,0,25-44,M,BLACK,1000749,241092,40.828405,-73.940382,POINT (-73.940382 40.828405)
6,261926460,01/14/2023,263.0,"ARSON 2,3,4",114.0,ARSON,PL 1501001,F,K,63,0,25-44,M,BLACK,1000520,168264,40.628508,-73.941384,POINT (-73.941384 40.628508)
7,262020709,01/17/2023,NaN,(null),NaN,(null),CPL5700600,9,Q,102,0,25-44,M,BLACK,1032501,198800,40.712206,-73.825952,POINT (-73.825952 40.712206)
8,262853818,02/01/2023,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,B,42,0,25-44,M,BLACK,1008754,238895,40.822355,-73.911463,POINT (-73.911463 40.822355)
9,263314679,02/09/2023,NaN,(null),NaN,(null),CPL5700600,9,Q,102,0,25-44,F,BLACK,1032501,198800,40.712206,-73.825952,POINT (-73.825952 40.712206)